### Student Information
Name: 陳翼弘

Student ID: 103033617

GitHub ID:

---

### Instructions

1. First: do the **take home** exercises in the [DM2021-Lab1-master Repo](https://github.com/fhcalderon87/DM2021-Lab1-master). You may need to copy some cells from the Lab notebook to this notebook. __This part is worth 20% of your grade.__


2. Second: follow the same process from the [DM2021-Lab1-master Repo](https://github.com/fhcalderon87/DM2021-Lab1-master) on **the new dataset**. You don't need to explain all details as we did (some **minimal comments** explaining your code are useful though).  __This part is worth 30% of your grade.__
    - Download the [the new dataset](https://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences#). The dataset contains a `sentence` and `score` label. Read the specificiations of the dataset for details. 
    - You are allowed to use and modify the `helper` functions in the folder of the first lab session (notice they may need modification) or create your own.


3. Third: please attempt the following tasks on **the new dataset**. __This part is worth 30% of your grade.__
    - Generate meaningful **new data visualizations**. Refer to online resources and the Data Mining textbook for inspiration and ideas. 
    - Generate **TF-IDF features** from the tokens of each text. This will generating a document matrix, however, the weights will be computed differently (using the TF-IDF value of each word per document as opposed to the word frequency). Refer to this Sciki-learn [guide](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) .
    - Implement a simple **Naive Bayes classifier** that automatically classifies the records into their categories. Use both the TF-IDF features and word frequency features to build two seperate classifiers. Comment on the differences.  Refer to this [article](https://hub.packtpub.com/implementing-3-naive-bayes-classifiers-in-scikit-learn/).


4. Fourth: In the lab, we applied each step really quickly just to illustrate how to work with your dataset. There are somethings that are not ideal or the most efficient/meaningful. Each dataset can be habdled differently as well. What are those inefficent parts you noticed? How can you improve the Data preprocessing for these specific datasets? __This part is worth 10% of your grade.__


5. Fifth: It's hard for us to follow if your code is messy :'(, so please **tidy up your notebook** and **add minimal comments where needed**. __This part is worth 10% of your grade.__


You can submit your homework following these guidelines: [Git Intro & How to hand your homework](https://github.com/fhcalderon87/DM2021-Lab1-master/blob/main/Git%20Intro%20%26%20How%20to%20hand%20your%20homework.ipynb). Make sure to commit and save your changes to your repository __BEFORE the deadline (Nov. 4th 11:59 pm, Thursday)__.

In [1]:
# -- set up dataset environment-- #
import os
import os.path
import helpers.data_mining_helpers as dmh
nas_folder_path = "NAS_NEAF/課程/2021_DataMining/sentiment labelled sentences/sentiment labelled sentences"
file_names = ['amazon_cells_labelled.txt', 'imdb_labelled.txt', 'yelp_labelled.txt']

In [3]:
# -- load dataset -- #
import csv

dataset = []
dataset_data = []
dataset_score = []
dataset_lib = []
dataset_lib_name = []
for index, file_name in enumerate(file_names):
    
    fileID = open(os.path.join(os.path.expanduser('~'), nas_folder_path, file_names[index]))
    dataset_temp = list(csv.reader(fileID, delimiter = "\t"))
    fileID.close()    
    # dataset_data_temp = [i[0] for i in dataset]
    # dataset_score_temp = [i[1] for i in dataset]
    
    dataset.extend(dataset_temp)
    dataset_data.extend([i[0] for i in dataset_temp])
    dataset_score.extend([i[1] for i in dataset_temp])
    dataset_lib.extend([index for i in dataset_temp])
    dataset_lib_name.extend([file_name[:-13] for i in dataset_temp])

In [4]:
len(dataset_lib)

2748

In [5]:
# -- show firt # data -- #
dataset_lib_name

['amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 'amazon_cells',
 ...]

In [6]:
dataset_data[0:2]

['So there is no way for me to plug it in here in the US unless I go by a converter.',
 'Good case, Excellent value.']

In [7]:
print(file_names[dataset_lib[0]])

amazon_cells_labelled.txt

In [8]:
dataset_lib[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [9]:
import pandas as pd
# import helpers.data_mining_helpers as dmh


DS = pd.DataFrame(dataset, columns=['text', 'score'])

In [10]:
DS

                                                   text score
0     So there is no way for me to plug it in here i...     0
1                           Good case, Excellent value.     1
2                                Great for the jawbone.     1
3     Tied to charger for conversations lasting more...     0
4                                     The mic is great.     1
...                                                 ...   ...
2743  I think food should have flavor and texture an...     0
2744                           Appetite instantly gone.     0
2745  Overall I was not impressed and would not go b...     0
2746  The whole experience was underwhelming, and I ...     0
2747  Then, as if I hadn't wasted enough of my life ...     0

[2748 rows x 2 columns]

In [11]:
DS['lib_name'] = dataset_lib_name

In [12]:
DS['lib'] = dataset_lib

In [13]:
DS = DS.sample(frac=1).reset_index(drop=True)

In [14]:
DS

,text,score,lib_name,lib
0,camera color balance is AWFUL.,0,amazon_cells,0
1,I liked the patio and the service was outstand...,1,yelp,2
2,But this movie is definitely a below average r...,0,imdb,1
3,"This item worked great, but it broke after 6 m...",0,amazon_cells,0
4,Worst Customer Service Ever.,0,amazon_cells,0
...,...,...,...,...
2743,There is no plot here to keep you going in the...,0,imdb,1
2744,And if that isn't enough of a mess of a movie ...,0,imdb,1
2745,My boyfriend tried the Mediterranean Chicken S...,1,yelp,2
2746,Very easy to use.,1,amazon_cells,0
2747,I would recommend purchasing the Jabra JX-10 s...,1,amazon_cells,0

In [15]:
DS.iloc[::10, 0:2][0:10]

                                                 text score
0                      camera color balance is AWFUL.     0
10                              The food wasn't good.     0
20                We are so glad we found this place.     1
30                          Love the margaritas, too!     1
40  For a product that costs as much as this one d...     0
50  This really is how Vegas fine dining used to b...     1
60  I highly recommend this movie for anyone inter...     1
70           Delicious and I will absolutely be back!     1
80                              Very good lunch spot.     1
90    I own 2 of these cases and would order another.     1

In [16]:
DS.loc[::10, 'text'][0:10]

0                        camera color balance is AWFUL.
10                                The food wasn't good.
20                  We are so glad we found this place.
30                            Love the margaritas, too!
40    For a product that costs as much as this one d...
50    This really is how Vegas fine dining used to b...
60    I highly recommend this movie for anyone inter...
70             Delicious and I will absolutely be back!
80                                Very good lunch spot.
90      I own 2 of these cases and would order another.
Name: text, dtype: object

In [17]:
DS.isnull()

       text  score  lib_name    lib
0     False  False     False  False
1     False  False     False  False
2     False  False     False  False
3     False  False     False  False
4     False  False     False  False
...     ...    ...       ...    ...
2743  False  False     False  False
2744  False  False     False  False
2745  False  False     False  False
2746  False  False     False  False
2747  False  False     False  False

[2748 rows x 4 columns]

In [18]:
DS.isnull().apply(lambda x: dmh.check_missing_values(x))

,text,score,lib_name,lib
0,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:
1,0,0,0,0

In [19]:
DS.isnull().any(axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
2743    False
2744    False
2745    False
2746    False
2747    False
Length: 2748, dtype: bool

In [21]:
dummy_series = pd.Series(["dummy_record", "1"], index=["text", "score"])

In [22]:
dummy_series

text     dummy_record
score               1
dtype: object

In [25]:
result_with_series = DS.append(dummy_series, ignore_index=True)

In [26]:
result_with_series

,text,score,lib_name,lib
0,camera color balance is AWFUL.,0,amazon_cells,0.0
1,I liked the patio and the service was outstand...,1,yelp,2.0
2,But this movie is definitely a below average r...,0,imdb,1.0
3,"This item worked great, but it broke after 6 m...",0,amazon_cells,0.0
4,Worst Customer Service Ever.,0,amazon_cells,0.0
...,...,...,...,...
2744,And if that isn't enough of a mess of a movie ...,0,imdb,1.0
2745,My boyfriend tried the Mediterranean Chicken S...,1,yelp,2.0
2746,Very easy to use.,1,amazon_cells,0.0
2747,I would recommend purchasing the Jabra JX-10 s...,1,amazon_cells,0.0
2748,dummy_record,1,NaN,NaN

In [28]:
result_with_series.isnull().apply(lambda x: dmh.check_missing_values(x))

,text,score,lib_name,lib
0,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:
1,0,0,1,1

In [29]:
dummy_dict=[{'text':'dummy_record', 'score':'1'}]

In [30]:
DS = DS.append(dummy_dict, ignore_index=True)

In [31]:
len(DS)

2749

In [33]:
DS.isnull().apply(lambda x: dmh.check_missing_values(x))

,text,score,lib_name,lib
0,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:
1,0,0,1,1

In [34]:
DS.dropna(inplace=True)

In [35]:
DS.isnull().apply(lambda x: dmh.check_missing_values(x))

,text,score,lib_name,lib
0,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:
1,0,0,0,0

In [36]:
len(DS)

2748

In [47]:
sum(DS.duplicated('text'))

17

In [46]:
DS.duplicated('text')

0       False
1       False
2       False
3       False
4       False
        ...
2743    False
2744    False
2745    False
2746    False
2747    False
Length: 2748, dtype: bool

In [48]:
duplicate=DS[DS.duplicated('text')]

In [50]:
duplicate['text']

198                                    I love this place.
327                                      I won't be back.
469                                         Great phone!.
882                                          Great phone.
1054                                         Great Phone.
1523                                This is a great deal.
1562                                              10/10
1626                     Excellent product for the price.
1662                                        Works great!.
2028                                         Works great.
2175    If you like a loud buzzing to override all you...
2256                                        Does not fit.
2260                                   Not recommended.
2378                     Definitely worth checking out.
2457                               The food was terrible.
2563                              Don't buy this product.
2620                    I would not recommend this place.
Name: text, dtype: object